<div class="content" role="main">
  <div class="top-bar p-3" role="banner">
    <img alt="inflight IT Logo" src="https://miro.medium.com/max/360/1*JhmJDka60LFaWQyP1BLJPw.png" />
  </div>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/welcome-page" routerLinkActive="active">Welcome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/buttons-page" routerLinkActive="active">Buttons</a>
    </li>
  </ul>
  <hr>
  <router-outlet></router-outlet>
</div>
